<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <nav class="nav">
        <div class="nav-left">
            <a href="{{ url_for('admin.admin_dashboard') }}"><button class="nav-button"><i
                        class="fas fa-home fa-2x"></i></button></a>
            <a href="{{ url_for('admin.view_quiz') }}"><button class="nav-button"><i
                        class="fas fa-list fa-2x"></i></button></a>
            <a href="{{ url_for('admin.add_subject') }}"><button class="nav-button"><i
                        class="fas fa-book fa-2x"></i></button></a>
            <a href="{{ url_for('admin.add_chapter') }}"><button class="nav-button"><i
                        class="fas fa-file-alt fa-2x"></i></button></a>
            <a href="{{ url_for('admin.add_quiz') }}"><button class="nav-button"><i
                        class="fas fa-tasks fa-2x"></i></button></a>
            <a href="{{ url_for('admin.add_question') }}"><button class="nav-button"><i
                        class="fas fa-question-circle fa-2x"></i></button></a>
            <a href="{{ url_for('admin.admin_summary') }}"><button class="nav-button"><i
                        class="fas fa-chart-bar fa-2x"></i></button></a>
            <a href="{{ url_for('auth.logout') }}"><button class="nav-button"><i
                        class="fas fa-sign-out-alt fa-2x"></i>logout</button></a>

        </div>
    </nav>

    <nav class="nav2">
        <div class="nav-right">
            <form method="GET" action="{{ url_for('admin.search_admin') }}">
                <input type="text" name="query" class="search-bar" placeholder="Search...">
                <button type="submit" class="search-button">Search</button>
            </form>

            <br><br>
            <img src="{{ url_for('static', filename='ayush.jpeg') }}" alt="Admin Profile" class="profile">
            <h1>Hi Admin!</h1>
            <h2>Resume your work</h2>
            <button class="options">
                <h3>Programming in Java</h3>
            </button>
            <button class="options">
                <h3>Computer Networks</h3>
            </button>
        </div>
    </nav>
    <div class="form-container">
        <h1>Add Subject</h1>
        <form method="POST" action="{{ url_for('admin.add_subject') }}">
            <label for="name">Subject Name:</label>
            <input type="text" id="subject_name" name="name" required>
            <br><br>
            <button type="submit">Add Subject</button>
        </form>
    </div>
</body>

</html>